**How do I change the data type of a pandas Series?**

In [1]:
import pandas as pd

In [2]:
# read a dataset of alcohol consumption into a DataFrame
drink = pd.read_csv('http://bit.ly/drinksbycountry')
drink.head(3)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa

In [3]:
# examine the data type of each Series
drink.shape

(193, 6)

In [4]:
drink.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [5]:
drink.ndim

2

In [6]:
drink['beer_servings'] = drink.beer_servings.astype(float)
drink.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

Documentation for [astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html)